@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Lato:wght@300;400;700&family=Titillium+Web:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  background-color: #F5E9E2;
}

h3 {
  font-family: 'Catamaran', sans-serif;
}

.container {
  max-width: 80%;
  margin: 30px auto 0 auto;
  padding: 10px 30px;
  background-color: #CEDADA;
  box-shadow: .5px .5px 0.1px .5px rgba(0,0,0, .5);
}

p {
  font-size: 3.5rem;
  margin: .5rem;
}


input {
  display: block;
  border: 1px solid #20c20e;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 1.8rem;
  font-size: 3.5rem;
  height: 10rem;
  width: 45rem;
}

nav {
  display: flex;
  margin-top: 30px;
}

nav > li > a {
  text-decoration: none;
  color: #20c20e;
  background-color: #f4e8c1;
  margin-left: 30px;
  padding: 10px 30px;
  border-radius: 6px;
  box-shadow: 1px 1px 0 1px rgba(0,0,0, .5);
}

.result {
  display: inline-block;
  background-color: #FFB800;
  margin: 2px;
  padding: 10px 50px 10px 50px;
  font-weight: 700;
}

.highlight {
  font-family: 'Titillium Web', sans-serif;
  font-size: 9rem;
  text-decoration: underline;
  padding: .5rem;
  color: #0f0326;
}

